PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/thumbly

# Clerk secret key (get from clerk.com → your app → API Keys)
CLERK_SECRET_KEY=sk_test_...

CLIENT_URL=http://localhost:5173

CLIPDROP_API_KEY=your_clipdrop_api_key

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
