PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/thumbly
SESSION_SECRET=your_super_secret_key
CLIENT_URL=http://localhost:5173

GEMINI_API_KEY=your_gemini_api_key

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
